---
layout: default
---

<article class="session-page">
    {% assign parent_block = site.blocks | where: "slug", page.block_slug | first %}
    {% if parent_block %}
        <p><a href="{{ site.baseurl }}{{ parent_block.url }}">← Volver al Bloque: {{ parent_block.title }}</a></p>
    {% endif %}

    <h1>{{ page.title }}</h1>
    
    <h3>Objetivos de la Sesión:</h3>
    <ul>
    {% assign session_meta = site.session_metadata[page.block_slug][page.slug] %}
    {% if session_meta.obj %}
        {% for obj in session_meta.obj %}
            <li>{{ obj }}</li>
        {% endfor %}
    {% endif %}
    </ul>

    {{ content }}

    {% include session_resources.html %} {# Incluye los enlaces a los recursos de la sesión #}
    {% include session_navigation.html %} {# Incluye la navegación entre sesiones hermanas #}

</article>
